
@{ 
    var total = ViewData["total"];
    Layout = "~/Views/Shared/Layoutmenu.cshtml";
}

<div>
    <p>Flight ID: @Model.IdFlight</p>
    <p>Trip details</p>
    <p>@Model.fromAirport------>@Model.toAirport</p>
    <p>>Flight Date:@Model.FlightDate</p>
    <p>Total: @total</p>
</div>
